html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}


.top-navigation > .content {
    height: 4.375rem;
    width: 970px;
    margin: 0 auto;
    padding-top: 0 px 15px;
    z-index: -9998;

}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 23px;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.logo { 

    margin-top: 13px;
}

.introduction  {
    background-image: url('../images/first-background-copy.jpg');
    background-size: cover;
    background-position: 0 bottom;
    height: 40.938rem;
    background-repeat: no-repeat;
    padding-top: 140px;
    z-index: -9999;
    text-align: center;
    font-size: 2.04rem;
    font-weight: normal;


}

.introduction h1, h4 {
    font-weight: normal;
}



.white {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;



}

.cases {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;


}

.cases .devices {
    width: 14.1%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
}

hr { 
    display: block;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: 15em;
    margin-right: 15em;
    border-style: inset;
    border-width: 1px;
}

.footer {
    margin-top: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;    
}

.footer .social {
    width: 4.1%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;

}
/*

.jpegs .devices {
    display: inline-block;
    text-align: center;
    font-size: 3.04rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;


}

.jpegs .cases {
    text-align: center;
    display: inline-block;



}

.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
}


/*.jpegs .devices {
    text-align: center;
    display: inline-block;
*/


}

/*.image-text-two {
    text-align: center;
    font-size: 1.54rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;

    }

    */




/*.content {
    text-align: center;
    font-size: 2.04rem;
    color: #ffffff;
}*/

.buttons button {
    text-align: center;
    border-radius: 3px;
    top: 50%;
    margin-top: 12rem;
    background-color: #d9400e;
    border-color: #cf3d0e;
    font-size: 2rem;
    color:#ffffff;
}